.bgContainer{
    background-image:url("https://i.ibb.co/xLrYkN7/top-trending.jpg");
}
.bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url("https://i.ibb.co/YWR4K2B/pexels-andrea-piacquadio-3765132.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logincontainer{
    background-image:url("https://i.ibb.co/txs8GmD/register-bannar.jpg");
}