.mega-menu {
    z-index: 999;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}
.hoverable:hover .mega-menu {
    display: block;
}
.shop-mega-menu {
    z-index: 999;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}
.shop-container:hover .shop-mega-menu {
    display: block;
}
