.contact-bannar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.644)),url("https://i.ibb.co/mDk3WKW/contact-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    min-height: 75vh;
}

/*-----------> Remove Arrow From Input Type Number <----------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}