.overlay {
    transition: .5s ease;
  }
  .text, .icon {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .product-link:hover .overlay {
    height: 100%;
    background-color: transparent;
  }
  .product-link:hover .text {
    display: none;
  }
  .product-link:hover .icon {
    display: block!important;
    color: #F77426!important;
    font-size: 40px!important;
    background-color: black;
    padding: 1px 10px;
    border-radius: 50%;
  }