.bannar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.699)),url('https://i.ibb.co/d7PkS6j/Testimonial-bannar.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}